* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  padding: 1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  margin-bottom: 2em;
}

nav .links {
  line-height: 64px;
  display: flex;
  align-items: center;
}

nav .links a, nav .links img {
    margin-left: 15px;
}

section.home {
    text-align: center;
    margin-top: 20%;
}

.game {
    text-align: center;
    padding-bottom: 1em;
}

.game .score {
    text-align: center;
    font-size: 150%;
}

.controls {
    margin: 1em 0;
}

.controls button {
    margin: 0 3px;
}

.btn-start, .btn-pause, .btn-resume {
    width: 5em;
}

table.board {
  margin: auto;
  border-collapse: collapse;
  background-repeat: repeat;
}

table.board td {
  height: 30px;
  width: 30px;
  border: 1px solid transparent;
}

table.board td.c {
  border-color: black;
}

table.board td.c1 { background-color: yellow; }
table.board td.c2 { background-color: blue; }
table.board td.c3 { background-color: red; }
table.board td.c4 { background-color: green; }

.navbar-brand {
    flex-grow: 1;
}

.navbar-brand .navbar-item {
    font-size: 200%;
    font-weight: 700;
    flex-grow: 1;
}

img.avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    max-height: 50px;
}
